* { -moz-box-sizing: border-box; box-sizing: border-box; }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body { font-size: 14px; margin:0; padding:0; } /* to remove the top and left whitespace */
html, body { width:100%; height:100%; } /* just to be sure these are full screen*/
canvas { display:block; } /* To remove the scrollbars */

#hover-box {
  position: absolute;
  left: 10px;
  bottom: 160px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
  padding: 5px;
  display: none;
  pointer-events: none;
  border: solid #ffde00;
  border-width: 5px 2px;
  width: 290px;
  padding-top: 0; /* Match with +5 margin-top in #hover-box p */
}
#hover-box p {
  margin: 0;
  margin-top: 5px; /* Match with 0 padding-top in #hover-box */
}
#hover-box .unit-name {
  color: #ffde00;
}
#hover-box .action-name {
  color: #99e6ff;
}
#hover-box .action-shortcut {
  color: #8eff66;
}

#turn-box {
  position: absolute;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
  padding: 5px;
  pointer-events: none;
  border: solid #ffde00;
  border-width: 5px 2px;
}

#bottom-info {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
  padding: 5px;
  padding-left: 15px;
  width: 300px;
  height: 150px;
  border-top: 5px solid #ffde00;
  border-right: 2px solid #ffde00;
  pointer-events: none;
}
#bottom-info h1 {
  color: #ffde00;
  font-size: 24px;
  margin: 5px 0 0 0;
}
#bottom-info table {
  border-spacing: 0;
}
#bottom-info td {
  padding: 5px 10px 0 0;
}
#bottom-info .stack-types {
  height: 70px;
  overflow-y: auto;
}

#bottom-actions {
  position: absolute;
  left: 300px;
  right: 300px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
  padding: 5px;
  height: 125px;
  border-top: 5px solid #ffde00;
  pointer-events: none;
}
#bottom-actions .action {
  min-width: 45px;
  height: 45px;
  margin: 5px;
  border: 2px solid #99e6ff;
  border-radius: 5px;
  float: left;
  text-align: center;
  line-height: 35px;
  cursor: pointer;

  background: #000;
  color: inherit;
  font-size: inherit;
  pointer-events: auto;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bottom-actions .action:hover {
  border-color: #ffde00;
}

#bottom-minimap {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
  padding: 5px;
  width: 300px;
  height: 150px;
  border-top: 5px solid #ffde00;
  border-left: 2px solid #ffde00;
  pointer-events: none;
}

#minimap {
  width: 285px;
  height: 135px;
  pointer-events: auto;
}

#bottom-text {
  position: absolute;
  width: 100%;
  bottom: 174px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.4em black;
  padding: 5px;
  pointer-events: none;
  text-align: center;
  display: none;
  z-index: 10; /* Always on top */
  -webkit-animation: blink 2s linear infinite;
  animation: blink 2s linear infinite;
}
@keyframes blink {  
  20% { opacity: 1; }
  50% { opacity: 0.1; }
  80% { opacity: 1; }
}
@-webkit-keyframes blink {
  20% { opacity: 1; }
  50% { opacity: 0.1; }
  80% { opacity: 1; }
}

#bottom-units {
  position: absolute;
  left: 300px;
  right: 300px;
  bottom: 123px;
  margin: 10px;
  pointer-events: none;
}
#bottom-units .unit-icon-wrapper {
  float: left;
  position: relative;
  margin: 1px;
  background: #000;
  height: 32px;
  width: 32px;
  pointer-events: auto;
  cursor: pointer;
/*  border: 2px solid #000;*/
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bottom-units .unit-icon {
  color: #ffde00;
  font-size: 12px;
  line-height: 30px;
  height: 28px;
  width: 32px;
  text-align: center;
/*  border: 2px solid #000;*/
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bottom-units .active {
  line-height: 26px;
  border: 2px solid red;
  border-bottom: 0;
}
#bottom-units .health-bar {
  height: 4px;
}
#bottom-units .health-good {
  background-color: green;
}
#bottom-units .health-medium {
  background-color: yellow;
}
#bottom-units .health-bad {
  background-color: red;
}
#bottom-units .movement-indicator {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
#bottom-units .movement-moved {
  background-color: #f0f0f0;
}
#bottom-units .movement-all {
  background-color: green;
}
#bottom-units .movement-some {
  background-color: yellow;
}
#bottom-units .movement-none {
  background-color: red;
}