body { margin:0; padding:0; } /* to remove the top and left whitespace */
html, body { width:100%; height:100%; } /* just to be sure these are full screen*/
canvas { display:block; } /* To remove the scrollbars */

#tile-info {
  width: 200px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #f0f0f0;
  padding: 5px;
  display: none;
  pointer-events: none;
}